
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <div class="col-sm-6 offset-sm-3" style="padding: 30px;">
        <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Thêm  công việc</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form role="form" >
              <div class="card-body">
                <div class="form-group">
                  <label for="exampleInputEmail1">Tên công việc</label>
                  <input type="text" class="form-control" id="exampleInputEmail1" ng-model="name" required placeholder="Công việc" >
                 
                </div>
                <div class="form-group">
                    <label>Phòng ban</label>
                    <select class="form-control select2" style="width: 100%;" ng-model="phongban">
                      <option selected="selected">Arrager</option>
                      <option>Phòng marketing</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Mô tả công việc</label>
                    <textarea class="form-control" rows="3"  ng-model="decs" placeholder="mô tả ..."></textarea>
                  </div>
                <div class="form-group">
                    <label>Ngày thực hiện:</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                      </div>
                      <input type="text" class="form-control" data-inputmask-alias="datetime"  ng-model="date" data-inputmask-inputformat="dd/mm/yyyy" data-mask placeholder="dd/mm/yyyy">
                    </div>
                </div>
              </div>
              <!-- /.card-body -->

              <div class="card-footer">
                <button type="submit" class="btn btn-primary"  ng-click="add_congivec()">Thêm</button>
              </div>
            </form>
        </div>
    </div>
    <!-- /.card -->
  </div>
  <!-- /.content-wrapper -->
  